.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0054fb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.top-left-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.linkss {
  display:flex;
  /*width: 200px;*/
  /*height: 60px;*/
  width: 80vw;
  height: 10vh;
  flex-direction: column;
}

.linkss2 {
  display:flex;
  /*width: 900px;*/
  width: 100vw;
  /*height: 535px;*/
  height: 70vh;
  flex-direction: column;
}

.custom-input {
  /* Set the desired height using standard CSS properties */
  /*height: 200px;*/
  width: 40vw;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.customInp {
  /* Set the desired height using standard CSS properties */
  /*height: 100px;*/
  width: 90vw;
  height: 65vh;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.wow {
  display: flex;
  gap: 10px;
}

.bbuton {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.delStuff {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.paragraphStylin {
  font-size:medium;
  font-family:'Times New Roman', Times, serif;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.parStyl {
  font-size:x-large;
  font-family:'Times New Roman', Times, serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  color:red;
}

.parStyl2 {
  font-size:x-large;
  font-family:'Times New Roman', Times, serif;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.tierList {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 21vh;
  margin-top: 1vh;
  flex: 1;
  flex-direction: wrap;
}

.largeTierList{
  display: flex;
  flex-direction: column;
}

.inside1{
  display: flex;
  background-color:blue;
  width: 10vw;
  margin-left: 1vw;
  margin-top: 1vw;
}

.inside2{
  display: flex;
  width: 80vw;
  margin-left: 1vw;
  margin-top: 1vw;
  background-color: red;
  flex-wrap: wrap; /* This property makes items wrap to the next line */
}

.inside3{
  display: flex;
  width: 80vw;
  margin-left: 1vw;
  margin-top: 1vw;
  background-color: rgb(255, 0, 191);
  flex-wrap: wrap; /* This property makes items wrap to the next line */
}

.inside2 img{
  /* Optional: ensures images fit within their container */
  max-width: 100%;
  max-height: auto;
  width: 100px;
  height: auto;
}

.inside3 img{
 /* Optional: ensures images fit within their container */
  max-width: 10%;
  max-height: auto;
  width: 50%;
  height: auto;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
