.App {
  text-align: left;
  font-family:'Times New Roman', Times, serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.watchButton{
  margin-top: 10px;
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.top-left-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.submitForm{
  display: flex;
  gap: 10px;
}

.optionsButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.paragraphStyle {
  font-size:medium;
  font-family:'Times New Roman', Times, serif;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.links1{
  display: flex;
  width: 80vw;
  height: 10vh;
  flex-direction: column;
}

.links2 {
  display:flex;
  width: 100vw;
  height: 70vh;
  flex-direction: column;
}

.links3 {
  display:flex;
  width: 100vw;
  flex-direction: column;
  margin-bottom: 15px;
}

.custom-input3 {
  width: 90vw;
  height: 40vh;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-input {
  width: 40vw;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-input2 {
  width: 90vw;
  height: 65vh;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonClass {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tierList {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 21vh;
  margin-top: 1vh;
  flex: 1;
  flex-direction: wrap;
}

.largeTierList{
  display: flex;
  flex-direction: column;
}

.sTier {
  display: flex;
  background-color:rgb(255, 0, 153);
  width: 10vw;
  margin-left: 1vw;
  margin-top: 1vw;
  justify-content:center;
  align-items: center;
}

.aTier {
  display: flex;
  background-color:rgb(179, 0, 255);
  width: 10vw;
  margin-left: 1vw;
  margin-top: 1vw;
  justify-content:center;
  align-items: center;
}

.bTier {
  display: flex;
  background-color:rgb(255, 0, 153);
  width: 10vw;
  margin-left: 1vw;
  margin-top: 1vw;
  justify-content:center;
  align-items: center;
}

.cTier {
  display: flex;
  background-color:rgb(179, 0, 255);
  width: 10vw;
  margin-left: 1vw;
  margin-top: 1vw;
  justify-content:center;
  align-items: center;
}

.dTier {
  display: flex;
  background-color:rgb(255, 0, 153);
  width: 10vw;
  margin-left: 1vw;
  margin-top: 1vw;
  justify-content:center;
  align-items: center;
}

.fTier {
  display: flex;
  background-color:rgb(179, 0, 255);
  width: 10vw;
  margin-left: 1vw;
  margin-top: 1vw;
  justify-content:center;
  align-items: center;
}

.noTier {
  display: flex;
  background-color:rgb(130, 13, 132);
  width: 10vw;
  margin-left: 1vw;
  margin-top: 1vw;
  justify-content:center;
  align-items: center;
}

.sTierList{
  display: flex;
  width: 80vw;
  margin-left: 1vw;
  margin-top: 1vw;
  background-color: rgb(253, 184, 237);
  flex-wrap: wrap; /* This property makes items wrap to the next line */
}

.aTierList{
  display: flex;
  width: 80vw;
  margin-left: 1vw;
  margin-top: 1vw;
  background-color: rgb(238, 179, 253);
  flex-wrap: wrap; /* This property makes items wrap to the next line */
}

.bTierList{
  display: flex;
  width: 80vw;
  margin-left: 1vw;
  margin-top: 1vw;
  background-color: rgb(253, 184, 237);
  flex-wrap: wrap; /* This property makes items wrap to the next line */
}

.cTierList{
  display: flex;
  width: 80vw;
  margin-left: 1vw;
  margin-top: 1vw;
  background-color: rgb(238, 179, 253);
  flex-wrap: wrap; /* This property makes items wrap to the next line */
}

.dTierList{
  display: flex;
  width: 80vw;
  margin-left: 1vw;
  margin-top: 1vw;
  background-color: rgb(253, 184, 237);
  flex-wrap: wrap; /* This property makes items wrap to the next line */
}

.fTierList{
  display: flex;
  width: 80vw;
  margin-left: 1vw;
  margin-top: 1vw;
  background-color: rgb(238, 179, 253);
  flex-wrap: wrap; /* This property makes items wrap to the next line */
}

.noTierList{
  display: flex;
  width: 80vw;
  margin-left: 1vw;
  margin-top: 1vw;
  background-color:rgb(149, 85, 150);
  flex-wrap: wrap; /* This property makes items wrap to the next line */
}

.sTierList img{
  /* Optional: ensures images fit within their container */
  max-width: 100%;
  max-height: auto;
  width: 100px;
  height: auto;
}

.aTierList img{
 /* Optional: ensures images fit within their container */
  /*max-width: 10%;*/
  max-width: 100%;
  max-height: auto;
  width: 100px;
  height: auto;
}

.bTierList img{
  /* Optional: ensures images fit within their container */
  max-width: 100%;
  max-height: auto;
  width: 100px;
  height: auto;
}

.cTierList img{
 /* Optional: ensures images fit within their container */
  /*max-width: 10%;*/
  max-width: 100%;
  max-height: auto;
  width: 100px;
  height: auto;
}

.dTierList img{
 /* Optional: ensures images fit within their container */
  /*max-width: 10%;*/
  max-width: 100%;
  max-height: auto;
  width: 100px;
  height: auto;
}

.fTierList img{
 /* Optional: ensures images fit within their container */
  /*max-width: 10%;*/
  max-width: 100%;
  max-height: auto;
  width: 100px;
  height: auto;
}

.noTierList img{
 /* Optional: ensures images fit within their container */
  /*max-width: 10%;*/
  max-width: 100%;
  max-height: auto;
  width: 100px;
  height: auto;
}

.watchList{
  display: flex;
  width: 80vw;
  margin-left: 1vw;
  margin-top: 1vw;
  flex-wrap: wrap; /* This property makes items wrap to the next line */
}

.watchList img{
 /* Optional: ensures images fit within their container */
  /*max-width: 10%;*/
  max-width: 100%;
  max-height: auto;
  width: 100px;
  height: auto;
}

.theTierFont{
  font-size:3cap;
  color:rgb(255, 255, 255);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.theNoTierFont{
  font-size:3cap;
  color:rgb(255, 255, 255);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.longReview1{
  border: 2px solid rgb(255, 0, 153);
}

.longReview2{
  border: 2px solid rgb(179, 0, 255);
}

.longReview{
  border: 2px solid rgb(253, 184, 237);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
